@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap");

.app {
  background-color: #0a192f;
}

.jumbotron {
  display: flex;
  justify-content: space-between;

  .column-1 {
    width: 75%;
    margin: 5rem 2rem 10rem 5rem;

    .highlight {
      font-family: "Poppins", sans-serif;
    }

    .primary {
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
    }

    .secondary {
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .description {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      margin: 8px 0;
    }
  }

  .column-2 {
    width: 25%;
    margin: 0 15rem 10rem 2rem;

    .picture {
      border-radius: 50%;
      // border: 1px solid rgba(100, 255, 218, 1);
      box-shadow: rgba(100, 255, 218, 0.3) 20px 20px 20px;
      filter: brightness(70%)
    }
  }
}

.accent-color {
  color: #64FFDA !important;
}

.primary-color {
  color: #ccd6f6 !important;
}

.secondary-color {
  color: #8892b0 !important;
}

.btn-outline {
  color: #64FFDA !important;
  border: 1px solid #64FFDA;
  border-radius: 10px;
  padding: 6px 18px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
